<head>
    {% for room in rooms %}
    <p class="roomclass">{{ room }}</p>
    {% endfor %}
    <form id="message-box" >
      Message: <input id="message" type="text" name="message">
      <button id="submit" type="button">Send</button>
    </form>
    <div id="textbox">
	"Display Messages Here!"
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script id="script" data-username='{{ user }}' src="../static/chat.js"></script>
</head>
